.review-item {
    border: 1px solid #95A0A7;
    border-radius: 8px;
    padding: 8px;
    margin-top: 21px;
    width: 571px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review-item img {
    width: 91px;
}

.review-item-details p {
    margin: 0;
}

.review-item-details p span {
    color: red;
}

.review-item-details-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}

.product-name {
    font-weight: bold;
}

.delete-button-container button {
    background: rgba(235, 87, 87, 0.3);
    border: 0;
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

.delete-icon {
    color: rgba(235, 87, 87, 1);
    font-size: 25px;
}