.header-nav{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 140px;
}

.header-nav a{
    text-decoration: none;
    margin-left: 36px;
    color: white;
    font-size: 17px;
}

.header-nav a:hover{
    color: orange;
}